<div class="survey">
  <div class="container text-left">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center survey-header">Create Your Dog's Profile</h2>
        <div class="wrap">

          <div class="row">
            <div class="col-sm-6 col-md-offset-3">
              <form id="uploadForm" enctype="multipart/form-data" class="form-group">
                <label class="">Select an image for upload</label>
                <div class="input-group">
                  <label class="input-group-btn">
                    <span class="btn btn-primary">
                      Browse&hellip; <input type="file" name="userPhoto" id="choose-file" style="display: none;" single>
                    </span>
                  </label>
                  <input type="text" name="filename-text" class="form-control" readonly required />
                  <span class="input-group-btn">
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <button type="button" id="upload-image" class="btn btn-primary">Upload</button>
                  </span>
                </div>        
                <hr>
              </form>			
            </div>
          </div>

          <div class="row" id="dog-preview-container">
            <div class="col-sm-6 col-sm-offset-3">
              <img id="dog-preview" src="" alt="" class="img-rounded img-responsive">
            </div>
          </div>

          <form id="dog-profile">
            <input type="hidden" value="" name="imagepath" id="imagepath" />
            <label class="statement dog-name">What is your dog's name?</label>
            <ul class='q1 dog-name'>
              <input type="text" name="name" required></li>
            </ul>
            <hr>
            <label class="statement breed">What is the breed of your dog?</label>
            <ul class='q2 breed'>
              <input type="text" name="breed" id="breed" required></li>
            </ul>
            <hr>
            <label class="statement zip">What zip code are you and your dog located? (This helps others connect with people and dogs in their area.)</label>
            <ul class='q3 zip'>
              <input type="text" name="zip" required></li>
            </ul>
            <hr>

            {{#each questions}}
            <label class="statement">{{qText}}</label>
            <ul class='likert'>            
              {{> questions/survey-questions qIdx=@key }}
            </ul>  
            {{/each}}

            <button type="submit" class="btn btn-lg btn-primary" id="dog-profile-submit" data-toggle="modal">Submit</button>
            <br>
            <p class="error-message"></p>

          </form>
        </div> <!-- End Wrap -->
      </div>
    </div>
  </div>
</div>

<footer class="main-footer"></footer>